body {
  padding: 0px;
  margin: 0px;
  background-color: rgba(213, 219, 235, 1);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
h4 {
  color: #606770;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
}

p {
  max-width: 100%;
}
input {
  max-width: 100%;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
.entrar {
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
  margin: 15px;
}
.grid {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  align-items: center;
  align-items: stretch;
  align-content: stretch;
}

.gridcol1 {
  flex-wrap: wrap;
  flex-grow: 1;
  flex: 1;
  margin-left: 50px;
  background-color: white;
  width: 1450px;
  height: 514px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}
.img-text {
  margin-top: 100px;
}

.gridcol2 {
  display: block;
  flex-wrap: wrap;
  flex-grow: 1;
  flex: 1;
  margin-left: 10px;
  margin-right: 50px;
  background-color: rgba(234, 238, 250, 1);
  padding: 90px;
  max-width: 350px;
  height: 380px;
  border-radius: 8px;
}
.form1 {
  position: relative;
  margin-top: -35px;
  text-align: center;
}

.form2 {
  position: relative;
  max-width: 100%;
  background-color: rgba(234, 238, 250, 1);
  border-radius: 8px;
  max-width: 100%;
  top: 40px;
  align-items: center;
  text-align: center;
}
.elem2 {
  margin-top: 40px;
}
